VITE_BASE_API_URL="http://localhost:8000"
#VITE_BASE_API_URL="http://<server-machine-ip>:8000" - for 1 vs 1 - uncomment this and comment out localhost above to try remote multiplayer
VITE_GITHUB_CLIENT_ID=
VITE_WS_BASE_URL="ws://<server-machine-ip>:8001" # lets try if it works or its enough one fastapi_url to put (maybe no need ws:// ??)
VITE_FASTAPI_URL="http://<server-machine-ip>:8001"