# Database Secrets
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# URLs for Microservices
DJANGO_DB_URL=postgres://admin:supersecret42@postgres_db:5432/django_db
FASTAPI_DB_URL=postgres://admin:supersecret42@postgres_db:5432/fastapi_db
REDIS_URL=redis://redis_broker:6379/0