 # Example: 'supersecret42' password MUST be exactly the same in both places!
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret42 #password here needs to comply with password down below in URLs.
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# URLs for Microservices
DJANGO_DB_URL=postgres://admin:supersecret42@postgres_db:5432/django_db
FASTAPI_DB_URL=postgres://admin:supersecret42@postgres_db:5432/fastapi_db
REDIS_URL=redis://redis_broker:6379/0

# Secret key for Django and FastAPI to use.
SECRET_KEY=<paste_a_random_50_character_string_here>

#GitHub oath login (frontend_url for remote github login so django knows where frontend lives)
GITHUB_CLIENT_ID=
GITHUB_SECRET=
FRONTEND_URL=http://<ip_of_host(your)machine_DONT_PUT_LOCALHOST_HERE>:3000