# Database Secrets
POSTGRES_USER=admin
POSTGRES_PASSWORD=<password> #password here needs to comply with password down below in URLs.
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# URLs for Microservices
DJANGO_DB_URL=postgres://admin:<password>@postgres_db:5432/django_db
FASTAPI_DB_URL=postgres://admin:<password>@postgres_db:5432/fastapi_db
REDIS_URL=redis://redis_broker:6379/0